@model IEnumerable<EEBank.Models.DocType>

@{
    ViewBag.Title = "Документы";
}

<link href="~/Content/main.css" type="text/css" rel="stylesheet" />
<link href="~/Content/waves.min.css" type="text/css" rel="stylesheet" />
<script src="~/Content/waves.min.js" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = function () {

        Waves.init();
    };
</script>
<div id="page">

    <h2>Документы</h2>

    <div id="box-button" class="box">
        <p id="colored-button" class="text-center">

            @foreach (var item in Model)
            {

                <button class="btn1 float-buttons">
                   
                    @Html.ActionLink(item.DocName, "Index", "PaymentRequirements", new { id = item.DocTypeId }, null)
                 
                </button>



            }


        </p>
    </div>
    <script type="text/javascript">

        Waves.attach(".float-buttons", [
            "waves-button",
            "waves-float"
        ]);
    </script>
    </div>
