@model IEnumerable<EEBank.Models.DocType>

@{
    ViewBag.Title = "Документы";
}
<style>
    body {
        background: url('http://nz4.ru/wp-content/uploads/2014/12/94.jpg');
    }
</style>

<link href="~/Content/main.css" type="text/css" rel="stylesheet" />
<link href="~/Content/waves.min.css" type="text/css" rel="stylesheet" />
<script src="~/Content/waves.min.js" type="text/javascript"></script>
<script type="text/javascript">
    window.onload = function () {

        Waves.init();
    };
</script>
<div id="page">

    <h2>Документы</h2>

    <div id="box-button" class="box">
        <p id="colored-button" class="text-center">

            @foreach (var item in Model)
            {
                if (item.DocTypeId == 4)
                {
                <button  class="btn1 float-buttons" type="button"  onclick="location.href='@Url.Action("Index", "PaymentRequirements")'">
                    Платежные требования
                </button>

                }
                
        if (item.DocTypeId == 5)
        {
            <button class="btn1 float-buttons" type="button" onclick="location.href='@Url.Action("Index", "PaymentOrders")'">
                Платежные поручения
            </button>
        }
        if (item.DocTypeId == 6)
        {
            <button class="btn1 float-buttons" type="button" onclick="location.href='@Url.Action("Index", "FreeFormatDocs")'">
                Документ свободного формата
            </button>
        }





            }


        </p>
    </div>
    <script type="text/javascript">

        Waves.attach(".float-buttons", [
            "waves-button",
            "waves-float"
        ]);
    </script>
    </div>
