*{
	margin: 0;
	padding: 0;
}
html { height: 100%; }
body{
	font-weight: 300;
	font-size:15px;
	color: #333;
	height: 100%
}
h1{
	font-weight: 300;
}
p{
	padding: 20px;
}
.text-center{
	text-align: center;
}
	
    .box{
		    padding: 10px;
			width: 400px;
			margin: 25px auto 0;
			box-sizing: border-box;
		    display: inline;


	}


	#page #box-button p .waves-button{
		margin: 20px 40px;
		font-size: 12pt;
        font-weight: 600;
	}
	#colored-button .btn1{
		color: #000000;
	}

	#colored-button button,
	#colored-button button:hover{
		background-color: #d8c7bb;
		width: 220px;
		height: 220px;
	}
