@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
        background: url('http://i075.radikal.ru/1002/e7/6cadddcd73ff.jpg') 15% 15%;
    }

 h2 {
        font-weight: 600;
    }
.fl{ float:left; }
.fr{ float: right; }
.group:before,
.group:after {
    content: "";
    display: inline-block;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}

.wrapper {

}
.pricing-table {
    width: 100%;
    height: 90%;
    margin: 50px auto;
    text-align: center;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;

}
.block{
    width: 25%;
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 5px;
    /*    border: 1px solid red;*/
}
/*Shared properties*/
.title{
    color: #FEFEFE;
    text-transform: inherit;
    font-size: 15px;
    line-height: 2;
    position: relative;
    border-radius: 5px;
    color: black;
    font-weight: 800;
}
.pt-footer{
    font-size: 9px;
    position: inherit;
    border-radius: 5px;
    color: black;
    line-height: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    height: 55px;
    text-transform: lowercase;

    
}
.content{
    position: relative;
    color: #fffefe;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0 20px 0;
    border-radius: 5px;

}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
    top: 100%;
    border: solid rgba(49, 43, 43, 0);
    content: " ";
    height: 0;

    width: 0;
    position: absolute;
    pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
    
}
.content:after,.pt-footer:after {
    border-color: rgba(35, 106, 152, 0);
    border-width: 5px;
    margin-left: -5px;

}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.925rem;

}
.price span{
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;
}
.price sup{
    font-size: 1.5rem;
    position: absolute;
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 1.3rem;


}
.features{
    list-style-type: none;
    background: #ffffff;
    text-align: center;
    color: #3a3939;
    padding:1px 1%;
    margin auto;
    font-size: 1.5rem;
    margin-bottom: 2px;
    margin-top: 5px;
    border-radius: 5px
}
.features li{
    padding:5px 2px;
    width: 100%;
}
.features li span{
    padding-right: 1.4rem;
}
.pt-footer{
   
    
}
/*PERSONAL*/
.personal .title{
    background: rgba(185, 166, 71, 0.65);
}
.personal .content,.personal .pt-footer{
    background: rgba(185, 166, 71, 0.65);
}
.personal .content:after{
    border-top-color: rgba(185, 166, 71, 0.65);
}
.personal .pt-footer:after{
    border-top-color: #0a0a0a;
}
/*PROFESSIONAL*/
.professional .title{
    background: rgba(86, 150, 175, 0.65);
}
.professional .content,.professional .pt-footer{
    background: rgba(86, 150, 175, 0.65);
}
.professional .content:after{
    border-top-color: rgba(86, 150, 175, 0.65);
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: rgba(153, 175, 86, 0.65);
}
.business .content,.business .pt-footer{
    background: rgba(153, 175, 86, 0.65);
}
.business .content:after{
    border-top-color: rgba(153, 175, 86, 0.65);
}
.business .pt-footer:after {
    border-top-color: #FFFFFF;
}