@{
    ViewBag.Title = "Home Page";
}

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style1.css">

        <div class=" slide story" id="slide-6" data-slide="6">
            <div class="container">
                <div class="row title-row">
                    <div class="col-12 font-lights">Вы можите связаться <span class="font-semibold">с нами</span></div>
                </div><!-- /row -->
                <div class="row line-row">
                    <div class="hr">&nbsp;</div>
                </div><!-- /row -->
                <div class="row subtitle-row">
                    <div class="col-sm-1 hidden-sm">&nbsp;</div>
                    <div class="col-12 col-sm-10 font-lights">Наведите на кнопки,чтобы увидеть контакную информацию</div>
                    <div class="col-sm-1 hidden-sm">&nbsp;</div>
                </div><!-- /row -->
                <div id="contact-row-4" class="row">
                    <div class="col-sm-1 hidden-sm">&nbsp;</div>
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><i class="icon icon-phone"></i></p>
                        <span class="hover-text font-lights ">+375 336019277</span>
                    </div>
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><i class="icon icon-envelope"></i></p>
                        <span class="hover-text font-lights ">EEbank@gmail.com</span>
                    </div>
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><i class="icon icon-home"></i></p>
                        <span class="hover-text font-lights ">Минск, Беларусь<br>пр.Независимости 23</span>
                    </div>  
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><i class="icon icon-facebook"></i></p>
                        <span class="hover-text font-lights ">facebook/e_and_e_bank</span>
                    </div>
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><i class="icon icon-twitter"></i></p>
                        <span class="hover-text font-lights ">twitter/e_and_e_bank</span>
                    </div>
                    <div class="col-sm-1 hidden-sm">&nbsp;</div>
                </div>
            </div>
        </div>
    <script src="~/Content/js/jquery-1.10.2.min1.js"></script>
    <script src="~/Content/js/bootstrap.min1.js"></script>
    <script src="~/Content/js/script1.js"></script>
    <script>
	$(document).ready(function(e) {
		var lis = $('.nav > li');
		menu_focus( lis[0], 1 );

		$(".fancybox").fancybox({
			padding: 10,
			helpers: {
				overlay: {
					locked: false
				}
			}
		});

	});
    </script>