@model EEBank.Models.FreeFormatDoc

@{
    ViewBag.Title = "Удалить документ";
}


<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h2>Удалить документ</h2>
    </div>
    <h3>Вы уверены, что хотите удалить документ?</h3>
    <div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    Документ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Document)
                </dd>

                <dt>
                    ФИО отправителя
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Users.UserInf1.FirstOrDefault(p => p.Email == User.Identity.Name).FullName)
                </dd>

                <dt>
                    Дата создания
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Удалить" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
