@{
    ViewBag.Title = "Вы не можете создавать более одного аккаунта одной валюты";
}

<style>
    
        body {
            background:url('http://ultradesktop.us/wallpaper_3840x2160/textures_background_gray_yellow_blue_ultra_3840x2160_hd-wallpaper-243053.jpg') 20% 20%;
        }
    
</style>

        <h2>@ViewBag.Title</h2>
    <div class="modal-body">
        <div>
            К сожалениею, вы не можете создавать более одного аккаунта одной валюты.
            Обращайтесь в филиал за предоставлением подобной информации.
        </div>
    </div>

