@{
    ViewBag.Title = "Вы не можете создавать более одного аккаунта одной валюты";
}

<style>
    body {
        background: url('http://i075.radikal.ru/1002/e7/6cadddcd73ff.jpg') 15% 15%;
    }

    h2 {
        font-weight: 600;
    }
</style>

        <h2>@ViewBag.Title</h2>
    <div class="modal-body">
        <div>
            К сожалениею, вы не можете создавать более одного аккаунта одной валюты.
            Обращайтесь в филиал за предоставлением подобной информации.
        </div>
    </div>

