@{
    ViewBag.Title = "Вы не можете создавать более одного аккаунта одной валюты";
}

<style>
    body {
        background: url('http://nz4.ru/wp-content/uploads/2014/12/94.jpg');
    }
</style>

        <h2>@ViewBag.Title</h2>
    <div class="modal-body">
        <div>
            К сожалениею, вы не можете создавать более одного аккаунта одной валюты.
            Обращайтесь в филиал за предоставлением подобной информации.
        </div>
    </div>

