@model EEBank.Models.Banks

@{
    ViewBag.Title = "Details";
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h2>Подробнее</h2>
    </div>
    <div class="modal-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Адрес
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress)
                </dd>

                <dt>
                    Код банка
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BanckCode)
                </dd>
                <dt>
                    Контактный номер
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

            </dl>
        </div>
    </div>
</div>
